<h1>Welcome, Wilkommen, Bienvenue, Bienvenidos</h1>

  <form action="/bbw" method="post">
  <label for="first_name">First Name: </label>
  <input type="text" name="first_name">
  <label for="last_name">Last Name: </label>
  <input type="text" name="last_name">
  <label for="nights">Number of Nights </label>
  <input type="number" name="nights">
  <input type="Date" name="check_in_date">
  <br>
  <br>
  <p>What type of bed would you desire to lay your head upon?</p>
  <input type="radio" name="room_type" value="double" checked> Double<br>
  <input type="radio" name="room_type" value="single"> Single<br>
  <input type="radio" name="room_type" value="twin"> Twin<br>
  <br>
  <p>What's going on here?! BREAKFAST!</p>
  <input type="radio" name="breakfast" value="yes" checked> Yes<br>
  <input type="radio" name="breakfast" value="no"> No<br>
  <br>
  <input type="submit" value="Book Stay">
  </form>